build

# Ignore build files
cours[0-9]*.pdf
TD[0-9]*.pdf
chapitre[0-9]*.pdf
integrale_TD.pdf
integrale_cours.pdf
integrale_mpi.pdf

# LaTeX temporary and build artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*.out
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.idx
*.ilg
*.ind
*.lof
*.lot
*.lol
*.nav
*.snm
*.vrb
*.xdv
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.maf
*.mtc
*.mtc0
*.pyg
*.thm
*.ptc

# latexmk/minted directories
_minted*

# Temporary files occasionally used during builds
**/temp.tex

# OS/editor noise
.DS_Store
Thumbs.db
*.tmp
*.swp
*.swo

# Used for tests and flashcards generated
*.pkl
*.cpython
*expanded.tex
*.xmind
*.svg
*.html

# Directories for developpement / temp files
test_exos/
chapitre6/print_mode/
scripts_anki/latex/
scripts_anki/paquets/
test_exos/
__pycache__/
fiches_cours/versions/
fiches_cours/output/

# Some test files
chapitre18_a4_12.pdf
chapitre18_a5_12.pdf
chapitre18_a5.pdf
Integrale_cours_a4_11.pdf
Integrale_cours_a4_12.pdf

anki_cache.json

test_images.py
find_images.py
